<td><%=replacement.word%></td>
<td><%=replacement.replacement_word%></td>
<td><%= link_to 'Delete', replacement, remote: true, method: :delete, class: "btn btn-default btn-xs", data: { confirm: "Are you sure?" } %></td>